{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ивенты</title>
    <link rel="stylesheet" href="../../static/events/styles.css">
    <script src= "../../static/events/events.js"></script>

</head>
<body>
    {% csrf_token %}
    {% if user.is_authenticated %}
        <h1>Мои ивенты:</h1>
            <h2>Открытые:</h2>
                {% for event in my_events.open %}
                <div id="my_event">
                    <h3>Название: {{ event.Name }}</h3>
                    <h3>Дата: {{ event.Date }}</h3>
                    <h3>Участники:</h3>
                    <ul>
                    {% for p in event.People %}
                        <li>
                            {{ p }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}


            <h2>Закрытые:</h2>
                {% for event in my_events.close %}
                <div id="my_event">
                    <h3>Название: {{ event.Name }}</h3>
                    <h3>Дата: {{ event.Date }}</h3>
                    <h3>Участники:</h3>
                    <ul>
                    {% for p in event.People %}
                        <li>
                            {{ p }}
                        </li>
                    {% endfor %}
                    </ul>

                    <h3>Заявки:</h3>
                    <ul>
                    {% for p in event.To_accept %}
                        <li>
                            {{ p }}
                            <button data-user={{ p }} data-org={{ event.Organisator }} data-date={{ event.Date }} data-type="accept" id="join">Принять заявку</button>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}

        <a href="{% url 'events:add' %}">Добавить  собрание</a>


        <h1>Я учавствую:</h1>
                {% for event in with_me %}
                <div id="my_event">
                    <h3>Организатор: {{event.Organisator }}</h3>
                    <h3>Название: {{ event.Name }}</h3>
                    <h3>Дата: {{ event.Date }}</h3>
                    <h3>Участники:</h3>
                    <ul>
                    {% for p in event.People %}
                        <li>
                            {{ p }}
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endfor %}


        <h1>Другие ивенты:</h1>
            <h2>Открытые:</h2>
                {% for event in other_events.open %}
                <div id="open_event">
                    <h3>Организатор: {{event.Organisator }}</h3>
                    <h3>Название: {{ event.Name }}</h3>
                    <h3>Дата: {{ event.Date }}</h3>
                    <h3>Участники:</h3>
                    <ul>
                    {% for p in event.People %}
                        <li>
                            {{ p }}
                        </li>
                        {% endfor %}
                    </ul>
                        {% if user.get_username not in event.People%}
                            <button data-user={{ user.get_username }} data-org={{ event.Organisator }} data-date={{ event.Date }} data-type="open" id="join">Присоединиться</button>
                        {% endif %}
                </div>
                {% endfor %}

        <h2>Закрытые:</h2>
                {% for event in other_events.close %}
                <div id="close_event">
                    <h3>Организатор: {{event.Organisator }}</h3>
                    <h3>Название: {{event.Name }}</h3>
                    <h3>Дата: {{ event.Date }}</h3>
                    <h3>Участники:</h3>
                    <ul>
                    {% for p in event.People %}
                        <li>
                            {{ p }}
                        </li>
                    {% endfor %}
                    </ul>
                        {% if user.get_username not in event.To_accept and user.get_username not in event.People%}
                            <button data-user={{ user.get_username }} data-org={{ event.Organisator }} data-date={{ event.Date }} data-type="close" id="join">Отправить заявку</button>
                        {% else %}
                            <h3>Вы уже отправили заявку</h3>
                        {% endif %}
                </div>
                {% endfor %}

    {% else %}
        <a href="{% url 'registration:register' %}">Register</a> │ <a href="{% url 'registration:login' %}">Login</a>
    {% endif %}
</body>
</html>