
h1{
    text-align: center;
}

h3{
    text-align: center;

}

#sight{
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

a{
    text-decoration:none;
}
img{
    width: 600px;
  height: 400px;
  border: 1px solid #000;
  margin: 10px 0;
}
