{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Маршруты</title>
    <link rel="stylesheet" href="{% static 'routes/styles.css' %}">
</head>
<body id="routes">
    {% for route in routes %}
        <div id="route">
            <a href="{% url 'routes:route'  route.id%}">
                <h1>{{ route.Name }}</h1>
            </a>
            <h3>{{ route.Description }}</h3>
        </div>
    {% endfor %}
</body>
</html>