{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ route.Name }}</title>
    <link rel="stylesheet" href="{% static 'routes/styles.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d0c0fdfa-9ad7-4c7b-bc8c-d155a8326543&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [47.221142, 39.727215],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 10,
            controls: ["zoomControl"]
        });

        var multiRoute = new ymaps.multiRouter.MultiRoute({
                // Точки маршрута. Точки могут быть заданы как координатами, так и адресом.
                referencePoints: {{ points }},
            params: {
      // Тип маршрута: на общественном транспорте.
      routingMode: "pedestrian"
            }
            },{
            routeActiveStrokeWidth: 5,
            routeActiveStrokeStyle: 'solid',
            boundsAutoApply: true,
            routeStrokeStyle: 'dot',
            routeStrokeWidth: 0,

    });
        myMap.geoObjects.add(multiRoute);



    }
</script>
</head>
<body>
    <h1>{{ route.Name }}</h1>
    <h3>{{ route.Description }}</h3>

    <div id="map" style="width: 600px; height: 400px"></div>
</body>
</html>