{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Добавть  достопримечательность</title>
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
</head>
<body>
    <h1>Добавть  достопримечательность</h1>
    <form action="{% url 'posts:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <a href="{% url 'posts:index' %}">Назад</a>
</body>
</html>