{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Достопримечательности</title>
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
</head>
<body id="sights">
    {% for post in posts %}
        <div id="sight">
            <a href="{% url 'posts:sight'  post.id%}">
                <h1>{{ post.Name }}</h1>
            </a>
            <h3>{{ post.Location }}</h3>
            <h3>{{ post.Description }}</h3>
        </div>
    {% endfor %}

    <a href="{% url 'posts:add' %}">Добавить  достопримечательность</a>
</body>
</html>