{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ sight.Name }}</title>
    <link rel="stylesheet" href="{% static 'posts/styles.css' %}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=d0c0fdfa-9ad7-4c7b-bc8c-d155a8326543&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
    function init(){
        // Создание карты.
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчанию: «широта, долгота».
            // Чтобы не определять координаты центра карты вручную,
            // воспользуйтесь инструментом Определение координат.
            center: [{{lat}}, {{long}}],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 16,
            controls: ["zoomControl"]
        });

        var placemark = new ymaps.Placemark([{{ lat }}, {{ long }}],{
        });
        myMap.geoObjects.add(placemark);

    }
</script>
</head>
<body>
    <h1>{{ sight.Name }}</h1>
    <h3>{{ sight.Description }}</h3>

    {% for image in images %}
        <img src={% static image %}>
    {% endfor %}
    <div id="map" style="width: 600px; height: 400px"></div>
</body>
</html>