<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span class="navbar-text"></span>
        {% if user.is_authenticated %}
            <a href="{% url 'registration:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'registration:register' %}">Register</a> │ <a href="{% url 'registration:login' %}">Login</a>
    {% endif %}
    </span>

    <h1><a><a href="{% url 'posts:index' %}">Достопримечательности</a></a></h1>
    <h1><a><a href="{% url 'routes:index' %}">Марштуруты</a></a></h1>
    <h1><a><a href="{% url 'events:index' %}">Ивенты</a></a></h1>
    <h1><a><a href="{% url 'guides:index' %}">Гиды</a></a></h1>
</body>
</html>