<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span class="navbar-text"></span>
        {% if user.is_authenticated %}
            <a href="{% url 'registration:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'registration:register' %}">Register</a> │ <a href="{% url 'registration:login' %}">Login</a>
    {% endif %}
    </span>
</body>
</html>