<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .b1 {
        background: navy;
        color: white;
        }
    </style>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="b1">Регистрация</button>
    </form>

</body>
</html>
