{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Добавть  гида</title>
    <link rel="stylesheet" href="{% static 'guides/styles.css' %}">
</head>
<body>
    <h1>Добавть  гида</h1>
    <form action="{% url 'guides:add' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <a href="{% url 'guides:index' %}">Назад</a>
</body>
</html>