{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Гиды</title>
    <link rel="stylesheet" href="{% static 'guides/styles.css' %}">
</head>
<body id="guides">
    <h1>Гиды:</h1>
    {% for guid in guides %}
        <div id="guide">
            <h3>{{ guid.Name }}</h3>
            <h3>{{ guid.Phone }}</h3>
        </div>
    {% endfor %}
    <a href="{% url 'guides:add' %}">Добавить  гида</a>
</body>
</html>