h1{
    text-align: center;
}

h3{
    text-align: center;

}

#route{
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}