#my_event{
    text-align: center;
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

#open_event{
    text-align: center;
  border-radius: 25px;
  background: #f5dd5d;
  padding: 20px;
  width: 200px;
  height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}

#close_event{
    text-align: center;
  border-radius: 25px;
  background: #570808;
  padding: 20px;
  width: 200px;
  height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 15px;
}